<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhc.controller.hole.transactional.UserMapper">

    <select id="findUserByName" resultType="com.zhc.controller.hole.transactional.User">
        select id,name from user
        where name = #{name}
    </select>

</mapper>
